.container {
    margin-bottom: 8px;
}

.header {
    display: flex;
}

.title {
    font-size: 14px;
    line-height: 20px;
    color: #000000;
    margin-bottom: 8px;
}

.grid {
    display: grid;
    grid-auto-flow: row;
    grid-template-columns: 40px 40px 40px 40px 40px 40px 40px;
    grid-auto-rows: 40px;
}