.wrapper {
    min-height: 100vh;
    min-width: 100vw;
    background: linear-gradient(180deg, #4568DC 0%, #B06AB3 100%), #EF8E48;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: #FFFFFF;
    border-radius: 3px;
    padding: 24px 10px;
    min-width: 300px;
}

.title {
    font-size: 16px;
    line-height: 22px;
    color: #000000;
    margin-bottom: 12px;
}

.button-wrapper {
    display: grid;
    place-content: center;
}